# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=2.0.0=pypi_0
asttokens=2.4.1=pyhd8ed1ab_0
autograd=1.7.0=pypi_0
axial-positional-embedding=0.2.1=pypi_0
backcall=0.2.0=pyh9f0ad1d_0
backports=1.0=pyhd8ed1ab_3
backports.functools_lru_cache=1.6.5=pyhd8ed1ab_0
blas=1.0=mkl
braindecode=0.4.85=pypi_0
brotlipy=0.7.0=py38h2bbff1b_1003
ca-certificates=2023.7.22=h56e8100_0
cachetools=5.3.1=pypi_0
certifi=2023.7.22=pyhd8ed1ab_0
cffi=1.15.1=py38h2bbff1b_3
charset-normalizer=2.0.4=pyhd3eb1b0_0
colorama=0.4.6=pyhd8ed1ab_0
colt5-attention=0.10.15=pypi_0
comm=0.1.4=pyhd8ed1ab_0
contourpy=1.1.1=pypi_0
coverage=7.3.1=pypi_0
cryptography=41.0.3=py38h89fc84f_0
cudatoolkit=11.3.1=h59b6b97_2
cycler=0.11.0=pypi_0
debugpy=1.6.7=py38hd77b12b_0
decorator=5.1.1=pyhd8ed1ab_0
docstring-inheritance=2.2.1=pypi_0
einops=0.7.0=pypi_0
executing=2.0.1=pyhd8ed1ab_0
fonttools=4.42.1=pypi_0
freetype=2.12.1=ha860e81_0
geoopt=0.5.0=pypi_0
giflib=5.2.1=h8cc25b3_3
google-auth=2.23.3=pypi_0
google-auth-oauthlib=1.0.0=pypi_0
grpcio=1.59.0=pypi_0
h5py=3.6.0=pypi_0
icc_rt=2022.1.0=h6049295_2
idna=3.4=py38haa95532_0
importlib-metadata=6.8.0=pyha770c72_0
importlib-resources=6.1.0=pypi_0
importlib_metadata=6.8.0=hd8ed1ab_0
intel-openmp=2023.1.0=h59b6b97_46319
ipykernel=6.26.0=pyha63f2e9_0
ipython=8.12.0=pyh08f2357_0
jedi=0.19.1=pyhd8ed1ab_0
jinja2=3.1.2=pypi_0
joblib=1.3.2=pypi_0
jpeg=9e=h2bbff1b_1
jupyter_client=8.6.0=pyhd8ed1ab_0
jupyter_core=5.5.0=py38haa244fe_0
kiwisolver=1.4.5=pypi_0
lazy-loader=0.4=pypi_0
lerc=3.0=hd77b12b_0
libdeflate=1.17=h2bbff1b_0
libffi=3.4.4=hd77b12b_0
libpng=1.6.39=h8cc25b3_0
libsodium=1.0.18=h8d14728_1
libtiff=4.5.1=hd77b12b_0
libuv=1.44.2=h2bbff1b_0
libwebp=1.3.2=hbc33d0d_0
libwebp-base=1.3.2=h2bbff1b_0
llvmlite=0.41.0=pypi_0
local-attention=1.9.0=pypi_0
lz4-c=1.9.4=h2bbff1b_0
markdown=3.5=pypi_0
markupsafe=2.1.3=pypi_0
matplotlib=3.7.3=pypi_0
matplotlib-inline=0.1.6=pyhd8ed1ab_0
memory-profiler=0.61.0=pypi_0
mkl=2023.1.0=h6b88ed4_46357
mkl-service=2.4.0=py38h2bbff1b_1
mkl_fft=1.3.8=py38h2bbff1b_0
mkl_random=1.2.4=py38h59b6b97_0
mne=0.19.2=pypi_0
mpmath=1.3.0=pypi_0
nest-asyncio=1.5.8=pyhd8ed1ab_0
numba=0.58.0=pypi_0
numpy=1.24.4=pypi_0
oauthlib=3.2.2=pypi_0
opencv-python=4.8.1.78=pypi_0
openssl=3.0.12=h2bbff1b_0
packaging=23.1=pypi_0
pandas=1.5.3=pypi_0
parso=0.8.3=pyhd8ed1ab_0
patool=1.12=pypi_0
pickleshare=0.7.5=py_1003
pillow=9.4.0=py38hd77b12b_1
pip=23.2.1=py38haa95532_0
platformdirs=3.10.0=py38haa95532_0
pooch=1.7.0=pypi_0
pot=0.9.1=pypi_0
product-key-memory=0.2.10=pypi_0
prompt-toolkit=3.0.39=pyha770c72_0
prompt_toolkit=3.0.39=hd8ed1ab_0
protobuf=4.24.4=pypi_0
psutil=5.9.5=pypi_0
pure_eval=0.2.2=pyhd8ed1ab_0
pyasn1=0.5.0=pypi_0
pyasn1-modules=0.3.0=pypi_0
pycparser=2.21=pyhd3eb1b0_0
pygments=2.16.1=pyhd8ed1ab_0
pymanopt=0.2.5=pypi_0
pyopenssl=23.2.0=py38haa95532_0
pyparsing=3.1.1=pypi_0
pyriemann=0.3=pypi_0
pysocks=1.7.1=py38haa95532_0
python=3.8.18=h1aa4202_0
python-dateutil=2.8.2=pyhd8ed1ab_0
python_abi=3.8=2_cp38
pytorch=1.12.1=py3.8_cuda11.3_cudnn8_0
pytorch-metric-learning=2.3.0=pypi_0
pytorch-mutex=1.0=cuda
pytz=2023.3.post1=pypi_0
pywin32=305=py38h2bbff1b_0
pyyaml=5.4.1=pypi_0
pyzmq=23.2.1=py38h09162b1_0
reformer-pytorch=1.4.4=pypi_0
requests=2.31.0=py38haa95532_0
requests-oauthlib=1.3.1=pypi_0
resampy=0.4.2=pypi_0
rsa=4.9=pypi_0
scikit-base=0.6.1=pypi_0
scikit-learn=0.24.0=pypi_0
scipy=1.9.3=pypi_0
seaborn=0.12.2=pypi_0
setuptools=68.0.0=py38haa95532_0
six=1.16.0=pyhd3eb1b0_1
skorch=0.15.0=pypi_0
sktime=0.24.0=pypi_0
sqlite=3.41.2=h2bbff1b_0
stack_data=0.6.2=pyhd8ed1ab_0
sympy=1.12=pypi_0
tabulate=0.9.0=pypi_0
tbb=2021.8.0=h59b6b97_0
tensorboard=2.14.0=pypi_0
tensorboard-data-server=0.7.1=pypi_0
threadpoolctl=3.2.0=pypi_0
tk=8.6.12=h2bbff1b_0
tomli=2.2.1=pypi_0
torch-geometric=2.3.1=pypi_0
torchaudio=0.12.1=py38_cu113
torchinfo=1.8.0=pypi_0
torchvision=0.13.1=py38_cu113
tornado=6.2=py38h294d835_0
tqdm=4.66.1=pypi_0
traitlets=5.13.0=pyhd8ed1ab_0
typing_extensions=4.7.1=py38haa95532_0
urllib3=1.26.16=py38haa95532_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
wcwidth=0.2.9=pyhd8ed1ab_0
werkzeug=3.0.0=pypi_0
wheel=0.38.4=py38haa95532_0
win_inet_pton=1.1.0=py38haa95532_0
xlwt=1.3.0=pypi_0
xz=5.4.2=h8cc25b3_0
zeromq=4.3.4=h0e60522_1
zipp=3.17.0=pyhd8ed1ab_0
zlib=1.2.13=h8cc25b3_0
zstd=1.5.5=hd43e919_0
